@font-face {
    src: url(../assets/fonts/new_font); /* Свойство src содержит путь к файлу шрифта */
}

@font-face {
    src: url(../assets/fonts/new_font);
    font-family: 'LT Funk';
}
@font-face {
    src: url(../assets/fonts/new_font);
    font-family: 'LT Funk';
    font-style: italic;
}
@font-face {
    src: url(../assets/fonts/new_font);
    font-family: 'LT Funk';
    font-weight: bold;
}

/*@font-face {*/
/*    src: url(../assets/fonts/new_font.woff2) format('woff2'),*/
/*         url(../assets/fonts/new_font.woff) format('woff');*/
/*}*/

h2 { /* селектор */
    font-size: 22px; /* font-size - свойство, 22px - значение свойства */
    color: mediumseagreen;
}


/* ссылка с классом my-link */
a.my-link {
    color: mediumseagreen;
}

/* элемент с классами my-button и my-input одновременно */
.my-button .my-input {
    color: mediumseagreen;
}

/* все ссылки, по которым пользователь не кликал, будут зелёные */
a:link {
    color: green;
}

/* ссылки, по которым пользователь переходил, сделаем серыми */
a:visited {
    color: gray;
}

/* ссылка, на которую пользователь навёл курсор, сменит цвет на синей */
a:hover {
    color: darkslategrey;
}

/* в момент клика ссылка станет красной */
a:active {
    color: darkseagreen;
}

/* выберет все ссылки, по которым пользователь ещё не переходил */

a:not(:visited) {
    color: green;
}


#socials
{
    margin-right: 2px;
    float: right;
}

.social-nt
{
    color: #E3FFF2;
    margin-right: 2px;
}


body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}



.grid-example {
  display: grid;
  grid-template-areas: 
  "header header header header header header" 
  "main main main main main aside"
  "footer footer footer footer footer footer";
}

.grid-element {
  padding: 5px;
  
  font-size: 16px;
  color: #060000;
  background: #9ea19c;
}

.bg-gray {
  background: #717790;
}

.bg-yellow {
  background: #cfec9e;
}

.bg-green {
  background: #45c968;
}

.grid-header {
  grid-area: header;
  height: 50px;
}

.grid-main, #span {
  grid-area: main;
}

.grid-aside {
  grid-area: aside;
}

.grid-footer {
  grid-area: footer;
  height: 80px;
  align-content: space-evenly; 
}

.grid-main-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
}

.item-center {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-end {
  grid-column: 2 / 6;
  grid-row: 3 / 6;
  align-content: end;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
  background-color: #394b90;
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}